$clr-dark-cyan: (158 36% 37%);
$clr-cream: (30 38% 92%);

$clr-very-dark-cyan: (158 42% 18%);
$clr-very-dark-blue: (212 21% 14%);
$clr-dark-grayish-blue: (228 12% 48%);

$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 0%);

$fs-body: 14px;

$ff-montserrat: "Montserrat", sans-serif;
$ff-fraunces: "Fraunces", serif;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$root-font-size: 16px;

$screen-size-sm: 576px;
$screen-size-md: 700px;
$screen-size-lg: 992px;
$screen-size-xl: 1200px;
$screen-size-xxl: 1440px;
